.platform-page[data-v-f790b89a]{padding:20px 0 30px}.platform-meta[data-v-f790b89a]{margin-bottom:20px}.platform-meta ul[data-v-f790b89a]{padding-left:18px;color:#475569}.platform-actions[data-v-f790b89a]{margin-bottom:16px}
